@import "tailwindcss";

:root {
  --color-base: #FAFAFA;
  --color-violet: #6B3CF6;
  --color-pink: #F06292;
}

@theme inline {
  --color-base: var(--color-base);
  --color-violet: var(--color-violet);
  --color-pink: var(--color-pink);
  --font-sans: var(--font-geist-sans);
}

body {
  background-color: var(--color-base);
  color: #171717;
  font-family: var(--font-geist-sans), Arial, sans-serif;
}
